body {
    font-family: 'Merriweather';
    letter-spacing: 1px;
}
h2 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 20px;
    text-shadow: none;
}
header h2 {
    margin: 10px 0;
}
header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    text-align: left;
    background: #000;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
}
header .border {
    border-bottom: 2px solid #fff;
}
.dropzone {
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 3px dashed #fff;
    border-radius: 10px;
    z-index: 0;
}
.dragging .dropzone {
    opacity: 1;
}
.dropzone,
.loader {
    position: absolute;
    bottom: 50px;
    right: 50px;
    left: 50px;
    top: 94px;
}
.center {
    position: relative;
    z-index: 1;
}

.site-wrapper {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.loader {
    opacity: 0;
    background-image: url('/images/loading.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
.loading .loader {
    opacity: 1;
}
.loading .message {
    opacity: 0;
}
.results {
    display: inline-block;
}
.result {
    text-align: left;
    font-size: 18px;
    padding: 10px 0;
}
.result .name {
    font-family: 'Ubuntu';
    font-weight: 500;
}
.result .tempo {
    font-style: italic;
    margin-left: 10px;
}

.site-wrapper,
.dropzone,
.loader {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;	
}

.action.training,
.trainer .action.default {
	display: none;
}

.filereader .dated-notice {
	display: none;
}